<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (mtsIncome) {
      <div>
        <h2 data-cy="mtsIncomeDetailsHeading"><span jhiTranslate="moreThanStatisticsApp.mtsIncome.detail.title">Mts Income</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ mtsIncome.id }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeDate">Income Date</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeAmount">Income Amount</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeAmount }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeType">Income Type</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeType }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeTypeDetail">Income Type Detail</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeTypeDetail }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomePayer">Income Payer</span></dt>
          <dd>
            <span>{{ mtsIncome.incomePayer }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeReceiver">Income Receiver</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeReceiver }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.incomeRemark">Income Remark</span></dt>
          <dd>
            <span>{{ mtsIncome.incomeRemark }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.isActive">Is Active</span></dt>
          <dd>
            <span>{{ mtsIncome.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.modifier">Modifier</span></dt>
          <dd>
            <span>{{ mtsIncome.modifier }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.modifyDatetime">Modify Datetime</span></dt>
          <dd>
            <span>{{ mtsIncome.modifyDatetime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.creator">Creator</span></dt>
          <dd>
            <span>{{ mtsIncome.creator }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.mtsIncome.createDatetime">Create Datetime</span></dt>
          <dd>
            <span>{{ mtsIncome.createDatetime | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/mts-income', mtsIncome.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
