<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (nayaxTransactions) {
      <div>
        <h2 data-cy="nayaxTransactionsDetailsHeading">
          <span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.detail.title">Nayax Transactions</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.id }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.siteID">Site ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.siteID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.transactionID">Transaction ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.transactionID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.paymentMethodID">Payment Method ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.paymentMethodID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.currency">Currency</span></dt>
          <dd>
            <span>{{ nayaxTransactions.currency }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.machineName">Machine Name</span></dt>
          <dd>
            <span>{{ nayaxTransactions.machineName }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.authorizationValue">Authorization Value</span></dt>
          <dd>
            <span>{{ nayaxTransactions.authorizationValue }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.campaignID">Campaign ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.campaignID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.settlementValue">Settlement Value</span></dt>
          <dd>
            <span>{{ nayaxTransactions.settlementValue }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.productSelectionInfo">Product Selection Info</span></dt>
          <dd>
            <span>{{ nayaxTransactions.productSelectionInfo }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.cardNumber">Card Number</span></dt>
          <dd>
            <span>{{ nayaxTransactions.cardNumber }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.authrizationRRN">Authrization RRN</span></dt>
          <dd>
            <span>{{ nayaxTransactions.authrizationRRN }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.machineAuthorizationTime">Machine Authorization Time</span></dt>
          <dd>
            <span>{{ nayaxTransactions.machineAuthorizationTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.machineSettlementTime">Machine Settlement Time</span></dt>
          <dd>
            <span>{{ nayaxTransactions.machineSettlementTime | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.creditCardType">Credit Card Type</span></dt>
          <dd>
            <span>{{ nayaxTransactions.creditCardType }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.cardType">Card Type</span></dt>
          <dd>
            <span>{{ nayaxTransactions.cardType }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.paymentMethod">Payment Method</span></dt>
          <dd>
            <span>{{ nayaxTransactions.paymentMethod }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.transactionStatusID">Transaction Status ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.transactionStatusID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.transactionTypeID">Transaction Type ID</span></dt>
          <dd>
            <span>{{ nayaxTransactions.transactionTypeID }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.billingProvider">Billing Provider</span></dt>
          <dd>
            <span>{{ nayaxTransactions.billingProvider }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.prepaidCardHolderName">Prepaid Card Holder Name</span></dt>
          <dd>
            <span>{{ nayaxTransactions.prepaidCardHolderName }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.refundRequestBy">Refund Request By</span></dt>
          <dd>
            <span>{{ nayaxTransactions.refundRequestBy }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.refundRequestDate">Refund Request Date</span></dt>
          <dd>
            <span>{{ nayaxTransactions.refundRequestDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="moreThanStatisticsApp.nayaxTransactions.refundReason">Refund Reason</span></dt>
          <dd>
            <span>{{ nayaxTransactions.refundReason }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/nayax-transactions', nayaxTransactions.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
