<div>
  <h2 id="page-heading" data-cy="MtsExpenseHeading">
    <span jhiTranslate="moreThanStatisticsApp.mtsExpense.home.title">Mts Expenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="moreThanStatisticsApp.mtsExpense.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mts-expense"
        [routerLink]="['/mts-expense/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="moreThanStatisticsApp.mtsExpense.home.createLabel">Create a new Mts Expense</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (mtsExpenses?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="moreThanStatisticsApp.mtsExpense.home.notFound">No Mts Expenses found</span>
    </div>
  }

  @if (mtsExpenses && mtsExpenses.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseDate">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseDate">Expense Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseAmount">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseAmount">Expense Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseType">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseType">Expense Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseTypeDetail">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseTypeDetail">Expense Type Detail</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expensePayer">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expensePayer">Expense Payer</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseReceiver">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseReceiver">Expense Receiver</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseRemark">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseRemark">Expense Remark</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="expenseReceipt">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.expenseReceipt">Expense Receipt</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modifier">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.modifier">Modifier</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="modifyDatetime">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.modifyDatetime">Modify Datetime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="creator">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.creator">Creator</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createDatetime">
              <div class="d-flex">
                <span jhiTranslate="moreThanStatisticsApp.mtsExpense.createDatetime">Create Datetime</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (mtsExpense of mtsExpenses; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/mts-expense', mtsExpense.id, 'view']">{{ mtsExpense.id }}</a>
              </td>
              <td>{{ mtsExpense.expenseDate | formatMediumDatetime }}</td>
              <td>{{ mtsExpense.expenseAmount }}</td>
              <td>{{ mtsExpense.expenseType }}</td>
              <td>{{ mtsExpense.expenseTypeDetail }}</td>
              <td>{{ mtsExpense.expensePayer }}</td>
              <td>{{ mtsExpense.expenseReceiver }}</td>
              <td>{{ mtsExpense.expenseRemark }}</td>
              <td>
                @if (mtsExpense.expenseReceipt) {
                  <a (click)="openFile(mtsExpense.expenseReceipt, mtsExpense.expenseReceiptContentType)">
                    <img
                      [src]="'data:' + mtsExpense.expenseReceiptContentType + ';base64,' + mtsExpense.expenseReceipt"
                      style="max-height: 30px"
                      alt="mtsExpense"
                    />
                  </a>
                  <span>{{ mtsExpense.expenseReceiptContentType }}, {{ byteSize(mtsExpense.expenseReceipt) }}</span>
                }
              </td>
              <td>{{ mtsExpense.isActive }}</td>
              <td>{{ mtsExpense.modifier }}</td>
              <td>{{ mtsExpense.modifyDatetime | formatMediumDatetime }}</td>
              <td>{{ mtsExpense.creator }}</td>
              <td>{{ mtsExpense.createDatetime | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/mts-expense', mtsExpense.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/mts-expense', mtsExpense.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(mtsExpense)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
